.regbox {

position: absolute;

    top:0;
    bottom: 0;
    left: 60px;
    right: 0;

    margin: auto;


width : 400px;
height : 500px;
border : 0px solid black;
border-radius: 40px 8px 40px 8px;
background:white;
box-shadow: rgba(219, 70, 159, 0.50) 10px 3px 15px,rgba(58, 153, 242, 0.50) 0px 10px 20px ;
}


.form2{
position: relative;
top:60px;
left:40px;
}
body {
 background-image: url('/static/images/bg.jpg');
 }
#button2{
position:relative;
top:40px;
left:100px;


}
.regbox .circle2 #logimg{
  position:absolute;
  margin:auto;
  top: -650px;
  width:320px;
  height:320px;
  right: -150px;
  bottom:-90px;

}
.regbox .la1{

position:relative;
top:100px;
left:100px;

color:black;

}